<div class="module_instruments">
    <div class="instryments-problem">
        <h3>是否遇见以下问题</h3>
        <div>
            <div>普通ERP不符合药监规定，无法进行质量管控。</div>
            <div>多公司难以集团化管控、数据实时共享。</div>
            <div>业务信息零散导致数据分析困难，无法提供决策。</div>
        </div>
    </div>
    <div class="instryments-solution">
        <h3>
            我们为您解决
        </h3>
        <h5>适用企业：大中型医疗器械（Ⅰ类、Ⅱ类、Ⅲ类）经营企业</h5>
        <div>
            <div class="gps">
                <h6>GPS规范</h6>
                <p>完全符合新版GPS要求，包括：经营范围的控制、证照效期控制及预警、商品批号效期及预警等。</p>
            </div>
            <div class="price-system">
                <h6>价格体系</h6>
                <p>丰富的价格体系，包括：协议价、中标价、价格加成、优惠价最低价、最高价等。</p>
            </div>
            <div class="shopping-list">
                <h6>采购计划</h6>
                <p>支持按商品类别、采购员、供应商、销量预测、库存周转率、渠道等生成采购计划。</p>
            </div>
            <div class="settlement-control">
                <h6>结算控制</h6>
                <p>支持现结、预付、周结、月结翻单结、实销实结等。严格控制到票后付款。</p>
            </div>
            <div class="grouping">
                <h6>集团化</h6>
                <p>支持集团化管理、实现数据共享、集团化经营分析。</p>
            </div>
            <div class="authority-management">
                <h6>权限管理</h6>
                <p>支持功能权限控制，支持数据权限、字段权限控制等。</p>
            </div>
            <div class="strategic-analysis">
                <h6>决策分析</h6>
                <p>
                    多样化报表模型，包括：品类分析、销售分析、库存分心、往来分析，同比、环比等。
                </p>
            </div>
            <div class="channel-control">
                <h6>渠道管控</h6>
                <p>完善的渠道管控，结合“两票制”政策和上下游企业供销关系、业务员关系等。</p>
            </div>
            <div class="traceability-system">
                <h6>追溯体系</h6>
                <p>完整的质量追溯体系、确保全过程可追溯。</p>
            </div>
            <div class="credit-control">
                <h6>资信控制</h6>
                <p>支持资信额度、资信天数控制，结合消息预警、订单管理、账龄分析等进行管控。</p>
            </div>
        </div>
    </div>
</div>