<div class="site-footer">
    <div>
        <div>
            <h5>联系我们</h5>
            <p>公司地址：上海市静安区江场路1398号园满星空间C301室 </p>
            <p>客服电话：021-66691028</p>
            <p>客服QQ：2248189065</p>
            <p>客服手机：189-2133-6121</p>
            <p>工作时间：09:30-18:30（周一至周五）</p>
        </div>
        <div>
            <h5>与我们合作</h5>
            <input type="text" placeholder="你的姓名">
            <input type="text" placeholder="你的手机">
            <input type="email" placeholder="你的邮箱">
            <input type="text" size="4" placeholder="给我留言…">
            <button>提 交</button>
        </div>
    </div>
    <ul>
        <li>Copyright©1692016 Oragee Corp.All Rights Reserved.沪ICP备 08006976-5号 上海查姆信息有限公司</li>
        <li><a id="footer-about-link" href="javaScript:">关于查姆</a></li>
        <li><a href="javaScript:">友情链接</a></li>
        <li><a id="footer-news-link" href="javaScript:">查姆动态</a></li>
    </ul>
</div>
