<div class="site-header">
    <img src="../images/logo.png">
    <nav>
        <ul>
            <li><a id="home-link" href="./index.html">首页</a></li>
            <!-- <li><a id="home-link" href="javascript:">首页</a></li> -->
            <!-- <li><a id="products-link" href="javascript:">产品中心</a></li> -->
            <li><a id="products-link" href="./products.html">产品中心</a></li>
            <!-- <li><a id="about-link" href="javascript:">关于我们</a></li> -->
            <li><a id="about-link" href="./aboutCham.html">关于我们</a></li>
        </ul>
    </nav>
</div>