<div class="page_about">
    <!-- <h1>Page Bar</h1>
    <a href="javascript:" class="bar__gofoo">goto /foo</a> -->
    <div class="about-title">
        <h3>关于查姆</h3>
        <p>上海查姆成立于2010年，核心团队成员皆在ERP领域有着6-8年的相关经验，公司自研产品包含医疗器械版ERP、仓储系统、第三方物流系统、云诊所等符合GSP相关要求的软件产品。自研软件产品服务于上海泰美医疗器械有限公司、上海方承医疗器械有限公司、聚赢齿科技术（上海）有限公司、海王业威医疗科技（上海）有限公司、上海励齿医疗科技有限公司、上海康买医疗科技有限公司等十余家医疗相关企业，合作年限已达6-7年，在业内均获得较好口碑及评价。
        </p>
    </div>
    <div id="about-news-list" class="about-news-list">
        <h3>新闻资讯</h3>
    </div>
    <div id="pagination" class="pagination">
    </div>
</div>