<!-- 首页 -->
<div class="page_home">
    <div class="erp">
        <div>
            <h2>医疗管理ERP</h2>
            <p class="erp-description">符合药监系统的一体化ERP系统，涵盖企业进、销、存的管理，其报表分析系统亦能助力企业决策</p>
            <p>
                <!-- <a id='erp_link' href="javascript:">了解更多</a> -->
                <p><a id='logistics_link' href="./products.html?product=instruments">了解更多</a></p>
            </p>
        </div>
        <img src="./assets/erp.png">
    </div>
    <div class="instrument">
        <img src="./assets/instrument.png">
        <div>
            <h1>医疗器械版</h1>
            <p>符合新版GSP管理、软件操作简单、一键式安装、支持异地远程服务、数据安全稳定。</p>
            <!-- <p><a id='instruments_link' href="javascript:">了解更多</a></p> -->
            <p><a id='logistics_link' href="./products.html?product=instruments">了解更多</a></p>
        </div>
    </div>
    <div class="system">
        <div>
            <h1>仓储系统</h1>
            <p>实现无纸化作业、加快拣货速度、提高拣货的准确率、降低培训成本、可追溯性和记录工作量。</p>
            <!-- <p><a id='warehousing-system_link' href="javascript:">了解更多</a></p> -->
            <p><a id='logistics_link' href="./products.html?product=warehousing-system">了解更多</a></p>
        </div>
        <img src="./assets/system.png">
    </div>
    <div class="logistics">
        <img src="./assets/logistics.png">
        <div>
            <h1>第三方物流</h1>
            <p>通过系统对接的方式，保证多平台订单数据、结算数据的一致性，且系统涵盖完整的WMS系统，从收货入库到拣选出库的流程一应俱全。</p>
            <!-- <p><a id='logistics_link' href="javascript:">了解更多</a></p> -->
            <p><a id='logistics_link' href="./products.html?product=logistics">了解更多</a></p>
        </div>
    </div>
    <div class="cloud-clinic">
        <div>
            <h1>云诊所</h1>
            <p>内外兼修的SaaS系统，提供多种诊所内部管理模块，外部客户使用的多种功能，包罗全部业务所需。</p>
            <p><a id='cloud-clinic_link' href="javascript:">了解更多</a></p>
            <!-- <p><a id='cloud-clinic_link' href="javascript:">了解更多</a></p> -->
        </div>
        <img src="./assets/cloud-clinic.png">
    </div>
</div>