<div class="module_instruments">
    <div class="instryments-problem">
        <h3>是否遇见以下问题</h3>
        <div>
            <div>普通物流仓储系统不符合药监规定，难以质量管控。</div>
            <div>与上游ERP或OMS系统无对接，导致信息不对成。</div>
            <div>仓储作业不规范、拣配不合理等人为因素导致效率降低。</div>
        </div>
    </div>
    <div class="instryments-solution">
        <h3>
            我们为您解决
        </h3>
        <h5>适用企业:第三方物流、自建物流中心</h5>
        <div>
            <div class="multi-service">
                <h6>支持多业务模式</h6>
                <p>自建物流中心、第三方物流中心、委托配送等。</p>
            </div>
            <div class="bar-code-management">
                <h6>全过程条码化管理</h6>
                <p>货位条码化、作业条码等，紧密结合PDA设备，提高工作效率。</p>
            </div>
            <div class="process-oriented">
                <h6>符合统一流程化管理</h6>
                <p>自建物流中心、第三方物流中心、委托配送等。</p>
            </div>
            <div class="gps">
                <h6>完全符合新版GSP要求</h6>
                <p>首营资质审核、批号效期控制、库内养护作业、各类GSP记录等。</p>
            </div>
            <div class="early-warning">
                <h6>支持各类预警</h6>
                <p>批号效期入库预警、批号效期超期预警、注册证效期预警、供应商及客户经营证照效期预警，极大规避作业差错。</p>
            </div>
            <div class="product-management">
                <h6>采用商品批次管理</h6>
                <p>实现商品的入库、出库、保管过程的可追溯，支持逆向跟踪。</p>
            </div>
        </div>
    </div>
</div>